.invoice-header {
    display: flex;
    gap: 1rem;
}

.invoice-header img {
    width: 50%;
    object-fit: contain;
}

.invoice-header table {}

table {
    border-collapse: collapse;
    /* Para unir los bordes de las celdas */
}

table, th, td {
    border: 1px solid black;
    /* Líneas negras */
}

table thead tr th{
    background: #777;
    font-weight: bolder;
}

table tbody tr td:first-child{
    background-color: #777;
    font-weight: bold;
}

.body table tbody tr td:first-child{
    background: white;
    font-weight: initial;
}

.body .tfooter table tbody tr td:first-child{
    background: #777;
    font-weight: initial;
}